/* CSS RESETS */
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
}

/* AGENDAMENTO */
.agendamento-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #d9d5cd;
    font-family: 'Montserrat', sans-serif;
    padding-top: var(--headerHeight);
    height: calc(100vh - var(--footerHeight));
}
.agendamento-imagem {
    width: 40%;
    object-fit: cover;
    height: 100%;
}
.conteudo-container {
    margin: 3rem 5%;
    padding: 1.5rem;
    background-color: rgba(255, 240, 225, 0.55);
    /* height: calc(100% - 6rem); */
}
.form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    font-size: 1.25rem;
}
.form-container > p{
    text-align: left;
    width: 95%;

}
.form-agendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    
}
.form-checkboxes {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    padding: 0 2.5%;
    grid-row-gap: 1rem;

}
.form-check-label {
    display: flex;
    gap:.5rem;

}
.form-check-input {
    width: 16px !important;
    height: 1rem;
}
.form-ag-label {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;


}
.form-input {
    width: 100%;
    padding: .125rem .5rem;
    background-color: #d7d3cd;
    border: none;
    border-radius: .5rem;
    outline-color: #8c8f84;
}
.form-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.form-button {
    background-color:#87948c ;
    border-radius: .5rem;
    border: none;
    color: #fff;
    padding: .125rem .5rem;
    box-shadow: none;
    
}
.form-button:hover {
    background-color:#647167;
}


@media only screen and (max-height:900px) {
    .agendamento-container {
        height:fit-content;

    }
    .agendamento-imagem {
        min-height: 42.5rem;
        height: 80vh;
    }
}

@media only screen and (max-width:1760px) {
    .form-container {
        font-size: 1.125rem;
    }
    .form-container h2 {
        font-size:1.5rem;
    }
}
@media only screen and (max-width:1400px) {
    .form-container {
        font-size: 1rem;
    }
    .form-container h2 {
        font-size: 1.375rem;
    }
}
@media only screen and (max-width:1100px) {
    .form-checkboxes {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width:850px) {
    .agendamento-imagem{
        width: 30%;

    }

}
@media only screen and (max-width:750px) {
    .agendamento-container {
        flex-direction: column;
        align-items: center;

    }

    .agendamento-imagem {
        width: 100%;
        height: 30vh;
        min-height: auto;

    }
    .form-agendamento {
        width: 90%;
    }
    .form-checkboxes {
        width: 100%;
    }
    
}
@media only screen and (max-width:550px) {
    .conteudo-container {
        margin-left: 0;
        margin-right: 0;
    }
    .form-ag-label {
        width: 100%;
    }

    

}





