/* CSS RESETS */
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
}

/* AGENDAMENTO */
.agendamento-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: calc(100vh - var(--footerHeight));
    padding-top: var(--headerHeight);
    
    background-color: #d9d5cd;
    font-family: 'Montserrat', sans-serif;
}

.agendamento-imagem {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.conteudo-container {
    width: 100%;
    margin: 3rem 5%;
    padding: 2rem;
    
    background-color: rgba(255, 240, 225, 0.55);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

    height: 100%;
    
    font-size: 1.25rem;
}

.form-container > p{
    width: fit-content;
    text-align: left;
}

.form-agendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;

    width: 100%;
    max-width: 63rem;
}

.form-checkboxes {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    
    padding: 0 2%;
}

.form-check-label {
    display: flex;
    gap:.5rem;
}

.form-check-input {
    width: 1rem;
    height: 1rem;
}

.form-ag-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    width: 80%;
}

.form-input {
    width: 100%;
    padding: .125rem .5rem;
    
    background-color: #d7d3cd;
    outline-color: #8c8f84;
    
    border: none;
    
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.form-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.form-button {    
    border-radius: .5rem;
    border: none;
    
    padding: .2rem 1rem;
    
    line-height: 1.875rem;
    font-size: 1.25rem;
    
    color: #fff;
    background-color:#87948c ;
    box-shadow: none;
    transition: background-color 0.4s;

    cursor: pointer;
}

.form-button:hover {
    background-color:#647167;
}

/* MEDIA QUERIES */
@media only screen and (max-height:900px) {
    .agendamento-container {
        min-height: calc(100vh - var(--footerHeight));
        height:fit-content;
    }

    .agendamento-imagem {
        min-height: 42.5rem;
        height: 84vh;
    }
}

@media only screen and (max-width:1760px) {
    .form-container,
    .form-input,
    .form-button {
        font-size: 1.125rem;
    }
    
    .form-input,
    .form-button {
        line-height: 1.5rem;
    }
}

@media only screen and (max-width:1400px) {
    .form-container,
    .form-input,
    .form-button {
        font-size: 1rem;
    }
    
    .form-input,
    .form-button {
        line-height: 1.375rem;
    }
}

@media only screen and (max-width:1100px) {
    .form-checkboxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:850px) {
    .agendamento-imagem{
        width: 30%;
    }
}

@media only screen and (max-width:750px) {
    .agendamento-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: calc(100vh - var(--footerHeight));
        height:fit-content;
    }

    .agendamento-imagem {
        width: 100%;
        height: 30vh;
        min-height: auto;

    }

    .conteudo-container {
        width: 90%;
        margin: 2rem 0;
    }

    .form-agendamento {
        width: 90%;
    }

    .form-checkboxes {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .form-ag-label {
        width: 100%;
    }
}

@media only screen and (max-width: 430px) {
    .form-checkboxes {
        grid-template-columns: repeat(1, 1fr);
        width: fit-content;

    }
    
    .form-ag-label {
        flex-direction: column;
        align-items: flex-start;
    }
}





