main .container-fluid {
  padding-top: var(--headerHeight);
}
main div {
  margin: 0px;
  background-color: #d9d5cd;
  font-size: 30px;
}
.img-lateral {
  width: 100%;
  object-fit: cover;
}
.div-img-padding {
  padding-left: 0;
}
.div-formulario {
  padding: 4% 8%;
  height: 100%;
  text-align: center;
}

.form {
  background-color: rgba(255, 240, 225, 0.548);
}

.div-meio,
.formulario-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}
label input {
  width: 800px;
}

#Nome-completo,
#Data-de-nascimento {
  border: none;
  background-color: #d7d3cd;
}
#Tel-ou-Celular,
#E-mail {
  border: none;
  background-color: #d7d3cd;
}
#Crie-sua-senha,
#Confirme-sua-senha {
  border: none;
  background-color: #d7d3cd;
}

.botao {
  background-color: #6d817a;
  color: #ffffff;
  border: none;
  border-radius: 0.6rem;
  padding: 0.2rem 3rem;
}

/* .botao {
  margin: 0 auto;
  border: none;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  background-color: #87948c;
} */

@media only screen and (min-width: 1600px) and (max-width: 1750px) {
  main div {
    color: #02fd39;
    font-size: 28px;
  }
  .botao {
    padding: 0.19rem 2.9rem;
  }
  label input {
    width: 700px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1601px) {
  main div {
    color: #fd02dc;
    font-size: 25px;
  }
  .botao {
    padding: 0.18rem 2.8rem;
  }
  label input {
    width: 600px;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1401px) {
  main div {
    color: #1302fd;
    font-size: 22px;
  }
  .botao {
    padding: 0.1rem 2rem;
  }
  label input {
    width: 500px;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1251px) {
  main div {
    color: #fd0202;
    font-size: 21px;
  }
  .botao {
    padding: 0.03rem 1.7rem;
  }
  label input {
    width: 450px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1051px) {
  main div {
    color: #02fd0f;
    font-size: 19px;
  }
  .botao {
    padding: 0.01rem 1.5rem;
  }
  label input {
    width: 400px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 901px) {
  main div {
    color: #fd9002;
    font-size: 17px;
  }
  .botao {
    padding: 0.008rem 1.2rem;
  }
  label input {
    width: 300px;
  }
}

@media only screen and (min-width: 625px) and (max-width: 751px) {
  main div {
    color: #fd9002;
    font-size: 15px;
  }
  .botao {
    padding: 0.005rem 1rem;
  }
  label input {
    width: 250px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 651px) {
  main div {
    color: #f502fd;
    font-size: 12px;
  }
  .botao {
    padding: 0.002rem 0.8rem;
  }
  label input {
    width: 200px;
  }
}

@media only screen and (min-width: 230px) and (max-width: 501px) {
  main div {
    color: #02f5fd;
    font-size: 11px;
  }
  .botao {
    padding: 0.002rem 0.8rem;
  }
  label input {
    width: 150px;
  }
  .img-lateral {
    width: 100%;
    object-fit: none;
  }
}
