*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}
footer {
    padding: 0 5%;
    background-color: rgba(61, 70, 56, 0.49);
    height: 9.75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}
footer .direitos-de-uso {  
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    color: #fff;

}
footer .logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
footer .logo-footer > img {
    height: 7.875rem;
}
footer .logo-footer-montanha {
    filter: drop-shadow(0rem .25rem .25rem rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 900px) {
    footer .direitos-de-uso {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: .5rem;
    }
    
}
@media only screen and (max-width: 800px){
    footer {
        height: 4rem;
    }
    footer .direitos-de-uso {
        font-size: 1rem;
    }
    footer .logo-footer > img {
        height: 4rem;
    }
    
}
@media only screen and (max-width: 500px) {
    footer .direitos-de-uso {
        font-size: .7rem;
    }
}