/* CSS RESETS */
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none; 
}

/* SOBRE */
.sobre-nos{
    min-height: calc(100vh - (var(--footerHeight)));
    background-color: #DEE3D9;
    font-family: 'Montserrat', sans-serif;    
    padding: 2rem 5%;
    padding-top: calc(var(--headerHeight) + 2rem);
}

.sobre-nos h2 {
    margin-bottom: 2rem;    
}

.pessoa-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: .5rem;
    padding-bottom: 2rem;

}

.pessoa-container-item { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17.875rem;
    height: 36rem;    
    padding: 1.5rem; /*margem interna, pra não grudar no cantinho*/
    background-color: #C4C4C4;
    margin-bottom: 1rem; /*margem inferior*/
    border-radius: 1rem;
    text-align: center;

    background-color: white;
    
    border-radius: 3rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.pessoa-container-item img {
    margin-bottom: 1rem;
    height: auto;
    width: 50%;   
    border-radius: 50%;
}

.pessoa-container-item a {
    text-decoration: none;  
}

.pessoa-container-item a:link {
    color: rgb(133, 116, 43);  
}

.pessoa-container-item a:hover {
    color: darkgreen;    
}

.pessoa-container-item a:visited {
    color: rgb(133, 116, 43);   
}

.pessoa-container-item a:hover {
    color: darkgreen;    
}

.descricao-pessoa {
    margin-bottom: 1rem;
    margin-top: 1rem;   
}

.pessoa-redes {
    align-self: baseline;
}

@media only screen and (max-width: 670px) {
    .pessoa-container {
        flex-direction: column;
    }
    .pessoa-container-item {
        min-height: 36rem;
        height: auto;
    }
}

@media only screen and (max-width: 350px) {
    .pessoa-container-item {
        width: 90%;
    }
}