body{
    width: 100rem;
    height: 100rem;
    background-color: #EFE0D1;
}

.NServicos{
    color: #000000;   
    text-align: left;
    font-family: 'Playfair Display';
    size: 46px;
    background-color: #d2c3b28e;
}